.description {
	color:black!important;
}

li.activ{
	list-style-image:url('../../../images/level1_list.png');
	background : none;
	margin:5px;
	padding:5px;
	
}

ul.activ{
	list-style-image:url('../../../images/level1_list.png');
	background :none;
	margin:5px;
	padding:5px;
}


div.app{	
	cursor:default!important;
}


ul.title-h3{
	color: #034695;
    font-size: 1.1667em;
    line-height: 1.1em;
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
	font-family: 'Trebuchet MS';    
}


.box-title{
/*
	text-align:center;
	margin:-5px;
	margin-bottom:20px;
	padding:5px;	
*/
	text-align:left;
	margin:0px;
	border-bottom:1px dotted #EEE;
	color:black;

}
div.titleHelp{
	float:right;
	font-size:10px;
	right:0px;
/* 	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);	 */
}

