
div.sa{
	font-family: 'Trebuchet MS';
    font-size: 12px;
    font-weight: bold;    

}

li.domaine_fonctionnel{
	list-style-image:url('../../../images/level1_list.png');
	background : none;
	margin:5px;
	padding:5px;
}


div.domaine_fonctionnel{
	font-family: 'Trebuchet MS';
    font-size: 12px;
    font-weight: bold;
}

ul.app{
    margin:0px;
}

li.sa{
         
    background:none;
    padding:0px !important;
    text-align:center;
    display:inline-block;
    vertical-align:top;
    width:100%;
    height:100%;
    margin:0px;
    margin-left:8px;
    margin-right:8px;
    font-size:0.9em;
}

ul.sa{
 background:none;
    border:1px solid  rgb(144,238,144)!important;
    margin:4px;
    width:500px;
    display:inline-block;

}
   
 /*   background-position: 0px 0px;    
    background-image: linear-gradient(left top, rgb(62,157,53) 53%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(left top, rgb(62,157,53) 53%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(left top, rgb(62,157,53) 53%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(left top, rgb(62,157,53) 53%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(left top, rgb(62,157,53) 53%, rgb(255,255,255) 100%);

    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0.53, rgb(62,157,53)),
        color-stop(1, rgb(255,255,255))
    );   
*/
}